<h1 class="text-blue-700">{{currentUser.details.username}}</h1>
<h1 class="text-3xl font-bold underline">Edit Sticky Notes Here!</h1>



<div object>
  <ul array key="todos" sortable>
    {{#for todo in todos}}
      <p
        object
        key:some-multi-line-text="@innerText"
        edit:some-multi-line-text:textarea
        class="text-clip overflow-hidden post-it"
      >{{default todo.text "Sticky Note"}}</p>
    {{/for}}
  </ul>

</div>
<button class="text-center py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300" new:todo>Add Sticky Note</button>
