<div class = "about-us">
    <img src = "https://via.placeholder.com/200" alt = "Placeholder image"> 
    <h2> Stephanie Pocci: [Contributions] </h2>
    <a href = "https://github.com/stephaniePocci"> GitHub </a>
    <h2> Nicolas Vasquez: [Contributions] </h2>
    <a href = "https://github.com/Nick-Vasquez-CSU"> GitHub </a>
    <h2> Emmanuel Salcedo: [Contributions] </h2>
    <a href = " "> GitHub </a>
    <h2> Ramiro Aispuro: [Contributions] </h2>
    <a href= "https://github.com/raispuro"> GitHub </a>
</div>
