<div class="Stephanie_Pocci">
  <figure><img src="https://placeimg.com/400/225/arch" alt="Stephanie Pocci's GitHub" /></figure>
  <div class="card-body">
    <h2 class="card-title">Stephanie Pocci</h2>
    <p>Contributions here.</p>
    <div class="card-actions justify-end">
        <a href = "https://github.com/stephaniePocci">
            <button class = "btn btn-primary">GitHub</button>
        </a>
    </div>
  </div>
</div>

<div class="Nicolas_Vasquez">
  <figure><img src="https://placeimg.com/400/225/arch" alt="Nicolas Vasquez's GitHub" /></figure>
  <div class="card-body">
    <h2 class="card-title">Nicolas Vasquez</h2>
    <p>Contributions here.</p>
    <div class="card-actions justify-end">
        <a href = "https://github.com/Nick-Vasquez-CSU">
            <button class = "btn btn-primary">GitHub</button>
        </a>
    </div>
  </div>
</div>

<div class="Emmanuel_Salcedo">
  <figure><img src="https://placeimg.com/400/225/arch" alt="Emmanuel Salcedo's GitHub" /></figure>
  <div class="card-body">
    <h2 class="card-title">Emmanuel Salcedo</h2>
    <p>Contributions here.</p>
    <div class="card-actions justify-end">
        <a href = "https://github.com/Manny-op">
            <button class = "btn btn-primary">GitHub</button>
        </a>
    </div>
  </div>
</div>

<div class="Ramiro_Aispuro">
  <figure><img src="https://placeimg.com/400/225/arch" alt="Ramiro Aispuro's GitHub" /></figure>
  <div class="card-body">
    <h2 class="card-title">Ramiro Aispuro</h2>
    <p>Contributions here.</p>
    <div class="card-actions justify-end">
        <a href = "https://github.com/raispuro">
            <button class = "btn btn-primary">GitHub</button>
        </a>
    </div>
  </div>
</div>