<div class = "back-button">
    <a href = "/index">
        <button class = "back-to-main-page">Home</button>
    </a>
</div>

<div class = "all-cards">
    <div class="main-card">
    <figure>
        <img src="https://placeimg.com/400/225/arch" alt="Stephanie Pocci's GitHub" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Stephanie Pocci</h2>
        <p>Contributions: aus.hbs</p>
        <div class="card-actions-justify-end">
            <a href = "https://github.com/stephaniePocci">
                <button class = "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">GitHub</button>
            </a>
        </div>
    </div>
    </div>

    <div class="main-card">
    <figure>
        <img src="https://avatars.githubusercontent.com/u/42751266?s=96&v=4" alt="Nicolas Vasquez's GitHub" class="p-3 bg-white border rounded max-w-sm"/>
    </figure>
    <div class="card-body">
        <h2 class="card-title">Nicolas Vasquez</h2>
        <p>Contributions: index.hbs | login.hbs</p>
        <div class="card-actions-justify-end">
            <a href = "https://github.com/Nick-Vasquez-CSU">
                <button class = "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">GitHub</button>
            </a>
        </div>
    </div>
    </div>

    <div class="main-card">
    <figure>
        <img src="https://placeimg.com/400/225/arch" alt="Emmanuel Salcedo's GitHub" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Emmanuel Salcedo</h2>
        <p>Contributions: signup.hbs</p>
        <div class="card-actions-justify-end">
            <a href = "https://github.com/Manny-op">
                <button class = "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">GitHub</button>
            </a>
        </div>
    </div>
    </div>

    <div class="main-card">
    <figure>
        <img src="https://placeimg.com/400/225/arch" alt="Ramiro Aispuro's GitHub" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">Ramiro Aispuro</h2>
        <p>Contributions: Default.hbs | app-index.hbs</p>
        <div class="card-actions-justify-end">
            <a href = "https://github.com/raispuro">
                <button class = "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">GitHub</button>
            </a>
        </div>
    </div>
    </div>
</div>

<style>
    .all-cards{
        display: flex;
        flex: auto;
        flex-wrap: wrap;
        margin: 0em auto;
        padding: 1.5em;
    }
    .main-card{
        background-color: rgb(24,32,46);
        border-radius: 0.5em;
        margin: 0em auto;
    }
    .card-body {
        color: rgb(254,255,254);
        margin-left: 1.5em;
        margin-bottom: 1em;
    }
    .card-title{
        font-size: 2em;
        text-align: center;
    }
    .card-actions-justify-end{
        margin-bottom: 1em;
    }
</style>
