<form action="/user/signup" method="post">
  <h1>Sign up</h1>
  <center>
  <p><b>Name:</b></p>
  <div class="bg-gray rounded-xl shadow-lg">
    <input type="text" name="username" placeholder="Username" required>
  </div>
  <p><b>Email Address:</b></p>
  <input type="email" name="email" placeholder="Email" required>
  <p><b>Password:</b></p>
  <input type="password" name="password" placeholder="Password" required>
    <div class="bg-orange-400">
      <button class="text-3xl" type="submit">Sign up</button>
    </div>
  </center>
  
</form>
